@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: #2AAA8A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.25s;
}

a:hover {
  color: white;
  text-decoration: underline;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  margin: 1em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 3px solid white;
  padding: 2em 4em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  font-family: inherit;
  background-color: #2aaa8a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: white;
  color: white;
  text-decoration: underline;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}