@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background: url(https://img.rawpixel.com/private/static/images/website/2022-05/px650847-image-kwvvah0o.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c0330b10186d1c1401512f3165107693);
  background-repeat: no-repeat;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
  padding: .5rem;
}

a:hover {
  color: black;
  background-color: #0a4939;
  border-radius: .7rem;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
  margin: 1em;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 3px solid black;
  padding: 2em 4em;
  font-size: 1em;
  font-weight: 700;
  color: black;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: black;
  color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
}